<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estacionamento HT</title>
    <link rel="stylesheet" href="../style/formularios.css">
    <script src="./../models/veiculo.js"></script>
    <script src="./../controllers/registrar.js"></script>
</head>
<body>
    <nav>
        <ul>
            <a href="../index.html"><li>Início</li></a>
            <a href="./ListadeCarros.html"><li>Lista</li></a>
            <a href="./Saida.html"><li>Saída</li></a>
        </ul>
    </nav>
    <div id="corpo">
    <fieldset>
        <legend>Formulário de Cadastro de Entrada de Veículos</legend>
        
        <label for="placa"></label>
        <input type="text" name="placa" id="placa" placeholder="Placa"><br>

        <label for="modelo"></label>
        <input type="text" name="modelo" id="modelo" placeholder="modelo"><br>

        <label for="marca"></label>
        <input type="text" name="marca" id="marca" placeholder="marca"><br>

        <label for="cor"></label>
        <input type="text" name="cor" id="cor" placeholder="cor"><br>

        <label for="tipo">Selecione</label>
        <select id="tipo">
            <option value=""></option>
            <option value="carro">Carro</option>
            <option value="moto">Moto</option>
            <option value="caminhao">Caminhão</option>
        </select><br>
        
        <button onclick="Resgistrodeveiculo.lerEadicionar()">Cadastrar</button>
    </fieldset>
    </div>
</body>
</html>