<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estacionamento HT</title>
    <link rel="stylesheet" href="../style/formularios.css">
</head>
<body>
    <nav>
        <ul>
            <a href="../index.html"><li>Início</li></a>
            <a href="./Entrada.html"><li>Entrada</li></a>
            <a href="./ListadeCarros.html"><li>Lista</li></a>
        </ul>
    </nav>
    <div id="corpo">
    <fieldset>
        <legend>Formulário de Saída de Veículos</legend>
        
        <label for="placadesaida"></label>
        <input type="text" name="placa" id="placadesaida" placeholder="Placa"><br>
        <div id="carrodesaida">

        </div>
        <button>Valor Total</button>
        <div id="visor">

        </div>
       
        
    </fieldset>
    </div>
</body>
</html>